.weather {
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0.1), 
    0 10px 20px rgba(0, 0, 0, 0.15); 
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-bar img:hover { 
    background-color: hsl(41, 95%, 60%);
    transform: scale(1.1);
    transition: background-color 0.3s ease-in-out;
}

.search-bar input {
    height: 50px;
    border-radius: 40px;
    border: none;
    outline: none;
    padding-left: 25px;
    background-color: #ebfffc;
    color: #626262;
    font-size: 18px;
}

input[type="text"]:focus {
outline: 2px solid #c2a91b; }

.search-bar img {
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background-color: #ebfffc;
    cursor: pointer;
}

.weather-icon {
    width: 150px;
    margin: 30px 0;
}

.temperature {
    font-size: 80px;
    color: #ffffff;
    line-height: 1;
}

.location {
    font-size: 40px;
    color: #ffffff;
}

.weather-data {
    display: flex;
    gap: 30px;
    width: 100%;
    margin-top: 40px;
    color: #ffffff;
    justify-content: space-between;
}

.weather-data .col {
    display: flex;
    gap: 12px;
    font-size: 22px;
    align-items: flex-start;
}

.weather-data .col span {
    display: block;
    font-size: 16px;
}

.weather-data .col img {
    width: 26px;
    margin-top: 10px;
}